@import "./preflight.css";

@tailwind base;
@layer base {
  h2 {
    @apply text-xl sm:text-2xl font-semibold pt-4;
  }

  p > a {
    @apply text-green underline;
  }

  p {
    @apply text-base sm:text-lg;
  }

  table,
  th,
  td {
    @apply border border-gray p-4;
  }

  table {
    @apply table-fixed w-full;
  }

  ol {
    @apply list-decimal list-inside;
  }

  li {
    @apply my-2 text-base sm:text-lg;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
